# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/frontend/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
/backend/.idea
/frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/backend/__pycache__
/frontend/dist/
/ANC_training_data

# System Files
.DS_Store
Thumbs.db

# Virtual Environment
/backend/venv
/model/venv
/model/venv3.7
venv/pyvenv.cfg

# Model
/model/.idea
/model/saved_models
/model/build
/model/dist
/model/trainer.egg-info
/model/trainer/__pycache__
\model\bert_en_uncased_preprocess_2.tar.gz

# GCLOUD auth
/Speech Predictor-a054d4db5829.json
